#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  background: rgb(17, 0, 0);
  display: flex;
  padding: 0px 20px;
  border-radius: 10px;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

}

.NavLink {
  color: white;
}

.art-title {
  text-align: left;
  padding: 5px 20px;
}

.art-head {
  color: #000;
  text-align: left;
  padding:0;

}

.art-body {
  color: gray;
  font-weight: 400;
  text-align: left;
  font-size: small;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.art-cont {
  background-color: rgb(253, 243, 243);
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px #00000014;
}

.cont-main {
  background-color: rgb(253, 243, 243);
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px #00000014;

}